<div id="list" class="">
    {{#if model.rtquery}}
        {{search-results results=tickets}}

        <div class="email-item-group-update">
            <a class="btn btn-default btn-sm" {{action "reloadSearch"}}>
                <i class="fa fa-refresh"></i>Refresh
            </a>
        </div>

    {{/if}}
</div>

{{outlet}}
