<div id="list" class="">
    <div class="email-item-group">
        <a class="btn btn-default btn-sm" {{action "reloadSearch"}}>
            <i class="fa fa-refresh"></i>Refresh
        </a>
    </div>

    {{#if model.rtquery}}
        {{search-results results=tickets}}
    {{/if}}
</div>

{{outlet}}
