<div id="layout" class="">
    <div id="nav" class="">
        <button class="nav-menu-button">Menu</button>

        <div class="nav-inner">
            <div class="row">
                <div class="col-sm-12">
                    {{#if session.isAuthenticated}}
                        <button class="btn btn-block btn-primary" {{action 'invalidateSession'}}>Logout</button>
                    {{else}}
                        {{#link-to 'login' class="btn btn-block btn-primary"}}Login{{/link-to}}
                    {{/if}}
                </div>
            </div>

            {{! jump-to-ticket}}


            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-block btn-primary">Compose</button>
                </div>
            </div>

            {{#each model as |search|}}

                <div class="row">
                    <div class="col-sm-12">

                        <div class="btn-group btn-block" >
                            {{#link-to 'search.show' search.id class="col-sm-9 btn btn-default"}}
                                {{search.name}}
                            {{/link-to}}
                            {{#link-to 'search.edit' search.id class="col-sm-3 btn btn-default"}}
                                <i class="fa fa-pencil"></i>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            {{/each}}

            {{#link-to 'search.new' class=""}}
                New Search
            {{/link-to}}

            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li> }}
            {{! <li class="pure-menu-heading">Labels</li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li> }}
            {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li> }}



        </div>
    </div>

    {{outlet}}

</div>
