<div id="layout" class="content pure-g">
  <div id="nav" class="pure-u">
    <a href="#" class="nav-menu-button">Menu</a>

    <div class="nav-inner">
      {{#if session.isAuthenticated}}
        <button class="primary-button pure-button" {{action 'invalidateSession'}}>Logout</button>
      {{else}}
        {{#link-to 'login' class="primary-button pure-button"}}Login{{/link-to}}
      {{/if}}

      {{! jump-to-ticket}}

      <button class="primary-button pure-button">Compose</button>

      <div class="pure-menu">
        <ul class="pure-menu-list">
          <li class="pure-menu-heading">Searches</li>

          {{#each model as |search|}}
          <li class="pure-menu-item">
            {{#link-to 'search.show' search.id class="pure-menu-link"}}
            <span class="email-label-work"></span>
            {{search.name}}
            {{/link-to}}

            {{#link-to 'search.edit' search.id class="pure-menu-link"}}
            Edit
            {{/link-to}}
          </li>
          {{/each}}

          <li class="pure-menu-item">
            {{#link-to 'search.new' class="pure-menu-link"}}
            New Search
            {{/link-to}}
          </li>
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li> }}
          {{! <li class="pure-menu-heading">Labels</li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li> }}
        </ul>
      </div>
    </div>
  </div>

  {{outlet}}

</div>
