<div id="layout" class="">
    <div id="nav" class="">
        <button class="nav-menu-button">Menu</button>

        <div class="nav-inner">
            <div class="row">
                <div class="col-sm-12">
                    {{#if session.isAuthenticated}}
                        <button class="btn btn-block btn-primary" {{action 'invalidateSession'}}>Logout</button>
                    {{else}}
                        {{#link-to 'login' class="btn btn-block btn-primary"}}Login{{/link-to}}
                    {{/if}}
                </div>
            </div>

            {{! jump-to-ticket}}

            {{! <div class="row"> <div class="col-sm-12"> <button class="btn btn-block btn-primary">Compose</button> </div> </div> }}

            <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{#link-to 'search.new' class="pull-right"}}
                            <i class="fa fa-plus-circle"></i>
                        {{/link-to}}
                        Searches
                    </h3>
                </div>
                <div class="panel-body">
                <ul class="list-group">
                    {{#each model as |search|}}
                        <li class="list-group-item">
                            <span class="badge">
                                {{#link-to 'search.edit' search.id class=""}}
                                    <i class="fa fa-pencil"></i>
                                {{/link-to}}
                            </span>
                            {{#link-to 'search.show' search.id class=""}}
                                {{search.name}}
                            {{/link-to}}
                        </li>

                    {{/each}}
                </ul>
                </div>
            </div>

            </div>

        </div>
    </div>

    {{outlet}}

</div>
