<div id="layout" class="">
  <div id="nav" class="">
    <a href="#" class="nav-menu-button">Menu</a>

    <div class="nav-inner">
      {{#if session.isAuthenticated}}
        <button class="btn btn-primary" {{action 'invalidateSession'}}>Logout</button>
      {{else}}
        {{#link-to 'login' class="btn btn-primary"}}Login{{/link-to}}
      {{/if}}

      {{! jump-to-ticket}}

      <div role="navigation">
        <button class="btn btn-primary">Compose</button>
        <ul class="nav nav-pills nav-stacked">
          <li class="pure-menu-heading">Searches</li>
          <li role="separator" class="divider"></li>

          {{#each model as |search|}}
            {{#link-to 'search.show' search.id tagName='li' href=false}}
            {{#link-to 'search.show' search.id class=""}}
              {{search.name}}
            {{/link-to}}
            {{/link-to}}

            {{#link-to 'search.edit' search.id tagName='li' href=false}}
            {{#link-to 'search.edit' search.id class=""}}
              Edit
            {{/link-to}}
            {{/link-to}}
          {{/each}}

          {{#link-to 'search.new' tagName='li' href=false}}
          {{#link-to 'search.new' class=""}}
            New Search
          {{/link-to}}
          {{/link-to}}

          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Inbox <span class="email-count">(2)</span></a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Important</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li> }}
          {{! <li class="pure-menu-heading">Labels</li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li> }}
          {{! <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li> }}
        </ul>
      </div>

    </div>
  </div>

  {{outlet}}

</div>
